/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

header {
    background-color: var(--header-bg-color);
    padding: 15px;
    position: sticky;
    top: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button, .list-item {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

button#back {
    background-color: transparent;
    border: none;
    font-size: 30px;
}

.list-item {
    height: 100px;
    width: 100px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}

.counter {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display {
    font-size: 70px;
}

.btns button {
    padding: 10px;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 30%;
}

.f_btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: var(--header-bg-color);
}

label, input, textarea {
    display: block;
    margin: 10px 0;
    width: 100%;
}

textarea {
    height: 100px;
    resize: none;
}

.note {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    padding: 15px;
    margin: 10px 0;
}

.note h2 {
    margin-bottom: 10px;
}
